.header {
  position: absolute;
  width: 300px;
  z-index: 3;
  border-radius: 10px;
  background-color: rgba(22, 94, 226, 0.7);
 top: 30%;
 left: 50%;
 transform: translate(-50%, -5%);
  padding: 60px 20px;
  text-align: center;
  color: #fff;
  animation: slideInDown 1s ease;
}

.learn-more {
  background-color: rgba(22, 94, 226, 0.5);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.learn-more:hover {
  background-color: #165ee2;
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
